services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: chefbawss
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6383:6379"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8006:8000"
    depends_on:
      - db
      - redis
    env_file:
      - ./backend/.env

  celery:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    env_file:
      - ./backend/.env

volumes:
  postgres_data:
