app = 'chef-bawss-api'
primary_region = 'iad'

[build]

[env]
  DJANGO_SETTINGS_MODULE = 'config.settings.production'
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  release_command = 'python manage.py migrate --noinput'
